*.ped
*.ID
*.bed
*.map
*.snakemake/*
*.swp
*checkpoint*
pedtest.txt'
*.Alpha
*.nosex
*.log
*.bim
*.bam
*.imiss
*.lmiss
*.fam
*.frq
*.hwe
*.haps
*.sample
*.mm
*.irem
toAlpha/Alpha/snp50_c.chr1.spec
toAlpha/peds/*
